
.spildy-blog-listing .blog-listing-bg {
  background-color: var(--white);
}
.spildy-blog-listing .blog-listing-bg-alt {
  background-color: var(--border-c);
}
.spildy-blog-listing .blog-listing-tb-space {
  padding: 50px 0px;
}
@media (max-width: 991px) {
  .spildy-blog-listing .blog-listing-tb-space {
    padding: 30px 0px;
  }
}
.spildy-blog-listing img,
.spildy-blog-listing svg {
  max-width: 100%;
  max-height: 100%;
}
.spildy-blog-listing .blog-listing-border {
  border: 1px var(--border-c) solid;
}
.blog-listing-v5 .blog-listing-box {
  margin-bottom: 30px;
}
.blog-listing-v5 .blog-listing-box .blog-listing-img {
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width: 768px) {
  .blog-listing-v5 .blog-listing-box .blog-listing-img {
    height: 160px;
  }
}
.blog-listing-v5 .blog-listing-box .blog-listing-img .image, .blog-listing-v5 .blog-listing-box .blog-listing-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 200px;
}
@media (max-width: 768px) {
  .blog-listing-v5 .blog-listing-box .blog-listing-img .image, .blog-listing-v5 .blog-listing-box .blog-listing-img img {
    height: 160px;
  }
}
.blog-listing-v5 .blog-listing-box .blog-listing-info .title {
  font-size: var(--size-5);
  color: var(--heading-c);
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-listing-v5 .blog-listing-box .blog-listing-info .description {
  font-size: var(--body-fs);
  color: var(--body-tc);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-listing-v5 .blog-listing-box .blog-listing-info .name {
  font-size: var(--body-fs);
  color: var(--body-tc);
}
.blog-listing-v5 .blog-listing-box .blog-listing-info .read-more-link a {
  color: var(--primary);
}
.blog-listing-v5 .blog-listing-box .blog-listing-info .read-more-link a:hover {
  color: var(--primary-hover);
}